* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    height: 80px;
    background-color: #708090;
    color: white;
    display: flex;
    align-items: center;
}

header {
    font-weight: bold;
    padding-left: 30px;
}

footer {
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.body {
    display: flex;
    flex: 1;
    flex-shrink: 0;
}

#content {
    display: flex;
    flex: 1;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #b9c7d4;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    align-items: center;
}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    flex-basis: 80px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    max-height: 50px;
}

button:hover:enabled {
    background-color: #d3e1ee;
}

#search {
    overflow-y: auto;
    height: 400px;
    width: 100%;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    top: 0;
    position: sticky;
    background-color: #708090;
    color: white;
}

#form {
    height: 350px;
}

#content > #home {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.formInputs {
    font-weight: bold;
    display: flex;
    height: 20px;
    gap: 4px;
    justify-content: center;
    margin-bottom: 10px;
}

footer {
    font-size: 20px;
}

.github {
    width: 20px;
    margin-left: 10px;
    transition: transform 0.5s ease-in-out;
}

.github:hover {
transform: rotate(360deg) scale(1.2);
}

/* Remove as flechas do input type='number' */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    width: 150px;
}

.id {
    width: 50px
}

.classInput {
    width: 100px;
}

.gradesInput {
    width: 50px;
}

#students {
    width: 300px;
}

input {
    width: 300px;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-options {
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    flex-basis: 80px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    max-height: 50px;
    margin-bottom: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}